
    <table class="table table-default">
      <thead>
        <tr>
          <th>日期</th>
          <th>早上</th>
          <th>下午</th>
          <th>晚上</th>
        </tr>
      </thead>

      <tbody>
        <% @last_seven_days.each do |day| %>
          <% morning = @morning_scores.where(:day => day).first %>
          <% afternoon = @afternoon_scores.where(:day => day).first %>
          <% evening = @evening_scores.where(:day => day).first %>
          <tr>
            <td><b><%= day.strftime("%m/%d") %></b></td>
            <% if morning != nil %>
              <td class="colored<%= morning.value%>"><%= morning.value %><br/><%= morning.description %></td>
            <% else %>
              <td></td>
            <% end %>
            <% if afternoon != nil %>
              <td class="colored<%= afternoon.value %>"><%= afternoon.value %><br/><%= afternoon.description %></td>
            <% else %>
              <td></td>
            <% end %>
            <% if evening != nil %>
              <td class="colored<%= evening.value %>"><%= evening.value %><br/><%= evening.description %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
