
    <table class="table table-default">
      <thead>
        <tr>
          <th>日期</th>
          <th>時間</th>
          <th>快樂分數</th>
          <th>快樂理由</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @scores.each do |score| %>
          <tr>
            <td><%= score.day %></td>
            <td><%= score.time_text(score) %></td>
            <td class="colored<%= score.value %>"><%= score.value %></td>
            <td><%= score.description %></td>
            <td class="text-center"><%= link_to '編輯', edit_score_path(score) %></td>
            <td class="text-center"><%= link_to '刪除', score, method: :delete, data: { confirm: '是否確定刪除此筆紀錄？' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
