<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1">
  <title>Happiness</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'shared/analytics' %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
    <div class="row">
      <% if notice != nil || alert != nil %>
        <div class="col-md-8">
          <% if notice != nil %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
          <% end %>
          <% if alert != nil %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="pane">
          <%= yield %>
        </div>
      </div>
      <%= render 'shared/dashboard' %>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
